#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  font-family: "Runescape";
}

@font-face {
  font-family: "Runescape";
  src: url(./assets/fonts/runescape_bold.ttf) format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Runescape";
  src: url(./assets/fonts/runescape.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Runescape Small";
  src: url(./assets/fonts/runescape_small.ttf) format("truetype");
}
