#root {
  margin: 0;
  text-align: center;
  overflow: hidden;
}

body {
  margin: 0;
}

* {
  font-family: "Runescape";
}

@font-face {
  font-family: "Runescape";
  src: url(./assets/fonts/runescape_bold.ttf) format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Runescape";
  src: url(./assets/fonts/runescape.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Runescape Small";
  src: url(./assets/fonts/runescape_small.ttf) format("truetype");
}
